.main {
  padding: 0% 4% 0% 4%;
}
.space {
  height: 20px;
}
.space40 {
  height: 40px;
}
.project-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.component-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.layout-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.icon-title {
  font-size: 23px;
  margin-right: 10px;
}
@media only screen and (max-width: 1200px) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .component-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .component-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .component-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .component-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
}
