.card-wrapper {
  margin: 20px 0px 0px 0px;
}

.flex-title {
  color: var(--smokyBlack);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.link-title {
  color: var(--smokyBlack);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ant-card-meta-title {
  font-weight: 700;
  color: #161616;
  margin: 0px !important;
}
.ant-card-meta-description {
  color: #161616;
}
.align-right {
  display: flex;
  justify-content: space-between;
}
