.header-container {
  background-color: #fafafa;
  display: flex;
  border-bottom: 1px solid var(--platinum);
  justify-content: space-between;
  align-items: center;
  padding: 1% 4% 1% 4%;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.logoWrap {
  margin-right: 40px;
}

.login-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.menu-container {
  text-align: center;
}

.logo {
  color: var(--cultured);
  font-weight: 500;
  font-size: 30px;
  max-width: 100px;
  margin-right: 30px;
}
